<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TripPlanner++</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/fundraising.css">-->
	<!--<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">-->
</head>

<body>
    
