body {
    background-color: steelblue;
    font-family: 'Muli', sans-serif;
}

h1 {
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.row {
    margin-top: 20px;
}

.see-details {
    color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30%;
}

.show-tile {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.show-tile-lg {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    height: 100px;
}

#tripDates {
    margin-top: -10px;
    color: #fc850f;
    letter-spacing: -1px;
}